plugins/*.so
plugins/*.dll
.idea/
.DS_Store
.vscode
go-zero*
nohup.out
zerobot
ZeroBot-Plugin*
PowerBot-Plugin*
PowerBot*
*.syso
/.direnv
/result
data/
plugin/memes/meme-generator-rs
plugin/memes/nonebot-plugin-memes-api
